#test { 
    background-image: url(./images/img1.jpeg); 
    background-attachment: fixed; 

    /* 
      the three following items below do the following: 
        a) fix the width and height of the containing div
           to be smaller than the width and height of the content.
        b) we set the overflow style so that when the content is
           bigger than the containing element scroll bars appear
           to allow users to scroll the element contents. 
    */
    height:200px; 
    width:300px; 
    overflow:scroll;
 }    